<!-- <form action="/tasks" method="post">
  <label for="title">Title</label>
  <input type="text" name="task[title]">
  <label for="details">Details</label>
  <input type="text" name="task[details]">
  <input type="submit">
</form> -->

<%= form_for @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_area :details %>

  <%= f.label :completed %>
  <%= f.text_area :completed %>

  <%= f.submit %>
<% end %>
